* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;

    .left-nav {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        font-weight: bold;

        img {
            width: 40px;
        }

        p {
            margin: 0;
        }

        span {
            color: #5ba3bb;
        }
    }

    .mid-nav {
        display: flex;
        gap: 50px;
        font-size: 10.5px;
        font-family: "Inter", serif;

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: #5ba3bb;
            transition: transform 0.3s ease;
            transform: scale(1.2);
        }
    }

    .right-nav {
        font-size: 10.5px;
        font-family: "Inter", serif;

        button {
            padding: 5px 15px;
            background-color: #5ba3bb;
            color: white;
            border: none;
        }

        button:hover {
            transition: transform 0.3s ease;
            transform: scale(1.2);
        }
    }
}

.treat {
    padding: 50px 25px 50px 50px;
    display: flex;
    justify-content: space-between;

    .treat-left {
        span {
            color: #5ba3bb;
        }

        h1 {
            font-family: "montserrat";
            font-size: 70px;
            font-weight: 900;
        }
        h1:hover {
            transition: transform 0.3s ease;
            transform: scale(0.95);
            cursor: pointer;
            // box-shadow: 0 2px 24px rgba(0, 0, 0, 0.15);
        }

        p {
            margin: 0;
        }

        .learn-more {
            display: flex;
            justify-content: space-between;
            margin: 50px 0;

            .number {
                color: #5ba3bb;
                font-weight: 600;
            }

            .more {
                font-size: 14px;
                color: #a7adaf;
            }
        }
        .learn:hover {
            transition: transform 0.3s ease;
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    .treat-right {
        img {
            mix-blend-mode: multiply;
            border-radius: 18px;
            width: 750px;
            margin: 0 0 0 15px;
        }
        img:hover {
            box-shadow: 5px 2px 24px rgba(0, 0, 0, 0.15);
            transition: transform 0.5s ease;
            transform: scale(1.03);
            cursor: pointer;
        }
    }

    .social1 {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        a {
            color: #282828;
        }

        a:hover {
            transition: transform 0.5s ease;
            transform: scale(1.5);
        }
    }
}

.children-dentistry {
    padding: 50px 350px 50px 40px;
    display: flex;
    justify-content: space-between;

    img {
        width: 550px;
    }

    img:hover {
        transition: transform 0s ease;
        transform: scale(1.2);
        margin-left: 7%;
        cursor: pointer;
    }

    .info {
        max-width: 450px;
        margin: 1% -5%;

        h1 {
            font-family: montserrat;
            font-weight: bolder;
            font-size: 40px;
            line-height: 1.3;
        }

        p {
            color: #a7adaf;
            font-size: 12.5px;
            line-height: 2;
            margin: 15px 0 30px;
        }

        .more-team {
            display: flex;
            align-items: center;
            gap: 50px;

            button {
                font-size: 10px;
                padding: 5px 15px;
                background-color: #5ba3bb;
                color: white;
                border: none;
            }
            button:hover {
                transition: transform 0.3s ease;
                transform: scale(1.2);
            }

            p {
                margin: 0;
                font-size: 10px;
                color: #5ba3bb;
                text-decoration: underline solid 2px;
                text-underline-offset: 4px;
                cursor: pointer;
            }
            p:hover {
                transition: transform 0.3s ease;
                transform: scale(1.2);
            }
        }
    }
}

.everything-need {
    display: flex;
    background-color: #eaf7fc;
    padding: 80px 40px;
    justify-content: space-between;

    .need-left {
        max-width: 350px;

        h1 {
            font-family: montserrat;
            font-weight: bolder;
            font-size: 40px;
            line-height: 1.3;
        }
    }

    .need-right {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 70%;

        .need-right-top,
        .need-right-down {
            display: flex;
            justify-content: space-between;
        }

        .need-content {
            margin: 1% 1% 1% 0;
            display: flex;
            flex-direction: column;
            max-width: 200px;
            gap: 15px;
        }

        img {
            width: 30px;
            // color:#5ba3bb;
        }
        h6 {
            font-size: 14px;
        }
        p {
            font-size: 12.5px;
            color: #a7adaf;
            line-height: 2;
            word-spacing: 2px;
            letter-spacing: 0.5px;
        }
    }
}

.professional {
    display: flex;
    justify-content: space-between;

    .professional-left {
        position: relative;
        display: inline-block;

        img {
            display: block;
            width: 400px;
            margin: -15% 0 0 25%;
            position: relative;
        }
        img:hover {
            transition: transform 0.3s ease;
            transform: scale(1.2);
            cursor: pointer;
        }
    }
    .professional-left::before {
        content: "";
        position: absolute;
        inset: 0;
        border: 0.5px solid #5ba3bb;
        z-index: 0;
        opacity: 0.4;

        transform: translate(130px, 10px);
    }

    .professional-right {
        margin: 5% 20% 5% 0;
        width: 450px;

        h1 {
            font-family: montserrat;
            font-weight: bolder;
            font-size: 40px;
            line-height: 1.3;
        }
        p {
            font-size: 12.5px;
            color: #a7adaf;
            line-height: 2;
            word-spacing: 2px;
            letter-spacing: 0.5px;
            margin: 8% 0 10%;
        }
        button {
            font-size: 10px;
            padding: 5px 15px;
            background-color: #5ba3bb;
            color: white;
            border: none;
        }
        button:hover {
            transition: transform 0.3s ease;
            transform: scale(1.2);
        }
    }
}

.smile {
    margin: 10% 5%;

    .h1 {
        display: flex;
        flex-direction: column;
        font-family: montserrat;
        font-weight: bolder;
        font-size: 40px;
        line-height: 1.2;
        align-items: center;
        text-align: justify;
        word-spacing: 5px;

        .happy {
            color: #5ba3bb;
            letter-spacing: 0cap;
        }
    }

    .smile-people {
        display: flex;
        justify-content: space-around;

        .smile-left {
            // display: flex;

            p {
                transform: rotate(270deg);
                margin-left: -110%;
                font-weight: 300;
                text-decoration: italic;
            }

            img {
                max-width: 400px;
                margin-top: -2%;
            }
            // img:hover {
            //     transition: transform 0.3s ease;
            //     transform: scale(1.1);
            //     cursor: pointer;
            // }
        }

        .smile-right {
            img {
                position: relative;
                max-width: 450px;
                margin-top: -35%;
                margin-left: -10%;
                z-index: -1;
            }
            // img:hover {
            //     transition: transform 0.3s ease;
            //     transform: scale(1.1);
            //     cursor: pointer;
            // }

            p {
                transform: rotate(270deg);
                margin-right: -85%;
                margin-top: -195%;
                font-weight: 300;
                text-decoration: italic;
            }
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 50%;
        margin-top: -7%;
        width: 550px;

        .sn {
            display: flex;
            color: #5ba3bb;

            .snell {
                font-family: "Libre Baskerville";
                font-size: 26px;
                text-align: justify;
                font-weight: 100;
                font-style: italic;
                opacity: 0.7;
            }
        }
        p {
            margin-left: 75%;
            font-size: 14px;
        }
    }
}

.footer {
    display: flex;
    font-size: 12.5px;
    padding: 5%;
    background-color: black;
    color: white;
    justify-content: space-between;

    .phone,
    .email {
        display: flex;
        gap: 10px;
    }

    .footer-content-info {
        margin-top: 30px;

        p {
            color: #a7adaf;
        }

        p:hover {
            cursor: pointer;
        }

        form {
            display: inline-flex;
            font-size: 10px;

            input {
                width: 300px;
                max-width: 300px;
                padding: 7px 10px;
                background: transparent;
                border: 0.5px solid white;
                outline: none;
                color: white;
            }
            button {
                padding: 7px 25px;
                border: 0.5px solid white;
            }
        }

        .social2 {
            display: flex;
            justify-content: space-between;
            margin: 5% 0;

            a {
                color: white;
            }

            a:hover {
                transition: transform 0.5s ease;
                transform: scale(1.5);
            }
        }

        .copyright {
            display: flex;
            justify-content: right;
        }
    }
}
