* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
}
nav .left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
}
nav .left-nav img {
  width: 40px;
}
nav .left-nav p {
  margin: 0;
}
nav .left-nav span {
  color: #5ba3bb;
}
nav .mid-nav {
  display: flex;
  gap: 50px;
  font-size: 10.5px;
  font-family: "Inter", serif;
}
nav .mid-nav a {
  color: black;
  text-decoration: none;
}
nav .mid-nav a:hover {
  color: #5ba3bb;
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
nav .right-nav {
  font-size: 10.5px;
  font-family: "Inter", serif;
}
nav .right-nav button {
  padding: 5px 15px;
  background-color: #5ba3bb;
  color: white;
  border: none;
}
nav .right-nav button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.treat {
  padding: 50px 25px 50px 50px;
  display: flex;
  justify-content: space-between;
}
.treat .treat-left span {
  color: #5ba3bb;
}
.treat .treat-left h1 {
  font-family: "montserrat";
  font-size: 70px;
  font-weight: 900;
}
.treat .treat-left h1:hover {
  transition: transform 0.3s ease;
  transform: scale(0.95);
  cursor: pointer;
}
.treat .treat-left p {
  margin: 0;
}
.treat .treat-left .learn-more {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.treat .treat-left .learn-more .number {
  color: #5ba3bb;
  font-weight: 600;
}
.treat .treat-left .learn-more .more {
  font-size: 14px;
  color: #a7adaf;
}
.treat .treat-left .learn:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.treat .treat-right img {
  mix-blend-mode: multiply;
  border-radius: 18px;
  width: 750px;
  margin: 0 0 0 15px;
}
.treat .treat-right img:hover {
  box-shadow: 5px 2px 24px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transform: scale(1.03);
  cursor: pointer;
}
.treat .social1 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.treat .social1 a {
  color: #282828;
}
.treat .social1 a:hover {
  transition: transform 0.5s ease;
  transform: scale(1.5);
}

.children-dentistry {
  padding: 50px 350px 50px 40px;
  display: flex;
  justify-content: space-between;
}
.children-dentistry img {
  width: 550px;
}
.children-dentistry img:hover {
  transition: transform 0s ease;
  transform: scale(1.2);
  margin-left: 7%;
  cursor: pointer;
}
.children-dentistry .info {
  max-width: 450px;
  margin: 1% -5%;
}
.children-dentistry .info h1 {
  font-family: montserrat;
  font-weight: bolder;
  font-size: 40px;
  line-height: 1.3;
}
.children-dentistry .info p {
  color: #a7adaf;
  font-size: 12.5px;
  line-height: 2;
  margin: 15px 0 30px;
}
.children-dentistry .info .more-team {
  display: flex;
  align-items: center;
  gap: 50px;
}
.children-dentistry .info .more-team button {
  font-size: 10px;
  padding: 5px 15px;
  background-color: #5ba3bb;
  color: white;
  border: none;
}
.children-dentistry .info .more-team button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
.children-dentistry .info .more-team p {
  margin: 0;
  font-size: 10px;
  color: #5ba3bb;
  text-decoration: underline solid 2px;
  text-underline-offset: 4px;
  cursor: pointer;
}
.children-dentistry .info .more-team p:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.everything-need {
  display: flex;
  background-color: #eaf7fc;
  padding: 80px 40px;
  justify-content: space-between;
}
.everything-need .need-left {
  max-width: 350px;
}
.everything-need .need-left h1 {
  font-family: montserrat;
  font-weight: bolder;
  font-size: 40px;
  line-height: 1.3;
}
.everything-need .need-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}
.everything-need .need-right .need-right-top,
.everything-need .need-right .need-right-down {
  display: flex;
  justify-content: space-between;
}
.everything-need .need-right .need-content {
  margin: 1% 1% 1% 0;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 15px;
}
.everything-need .need-right img {
  width: 30px;
}
.everything-need .need-right h6 {
  font-size: 14px;
}
.everything-need .need-right p {
  font-size: 12.5px;
  color: #a7adaf;
  line-height: 2;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}

.professional {
  display: flex;
  justify-content: space-between;
}
.professional .professional-left {
  position: relative;
  display: inline-block;
}
.professional .professional-left img {
  display: block;
  width: 400px;
  margin: -15% 0 0 25%;
  position: relative;
}
.professional .professional-left img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.professional .professional-left::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 0.5px solid #5ba3bb;
  z-index: 0;
  opacity: 0.4;
  transform: translate(130px, 10px);
}
.professional .professional-right {
  margin: 5% 20% 5% 0;
  width: 450px;
}
.professional .professional-right h1 {
  font-family: montserrat;
  font-weight: bolder;
  font-size: 40px;
  line-height: 1.3;
}
.professional .professional-right p {
  font-size: 12.5px;
  color: #a7adaf;
  line-height: 2;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  margin: 8% 0 10%;
}
.professional .professional-right button {
  font-size: 10px;
  padding: 5px 15px;
  background-color: #5ba3bb;
  color: white;
  border: none;
}
.professional .professional-right button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.smile {
  margin: 10% 5%;
}
.smile .h1 {
  display: flex;
  flex-direction: column;
  font-family: montserrat;
  font-weight: bolder;
  font-size: 40px;
  line-height: 1.2;
  align-items: center;
  text-align: justify;
  word-spacing: 5px;
}
.smile .h1 .happy {
  color: #5ba3bb;
  letter-spacing: 0cap;
}
.smile .smile-people {
  display: flex;
  justify-content: space-around;
}
.smile .smile-people .smile-left p {
  transform: rotate(270deg);
  margin-left: -110%;
  font-weight: 300;
  text-decoration: italic;
}
.smile .smile-people .smile-left img {
  max-width: 400px;
  margin-top: -2%;
}
.smile .smile-people .smile-right img {
  position: relative;
  max-width: 450px;
  margin-top: -35%;
  margin-left: -10%;
  z-index: -1;
}
.smile .smile-people .smile-right p {
  transform: rotate(270deg);
  margin-right: -85%;
  margin-top: -195%;
  font-weight: 300;
  text-decoration: italic;
}
.smile .text {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-left: 50%;
  margin-top: -7%;
  width: 550px;
}
.smile .text .sn {
  display: flex;
  color: #5ba3bb;
}
.smile .text .sn .snell {
  font-family: "Libre Baskerville";
  font-size: 26px;
  text-align: justify;
  font-weight: 100;
  font-style: italic;
  opacity: 0.7;
}
.smile .text p {
  margin-left: 75%;
  font-size: 14px;
}

.footer {
  display: flex;
  font-size: 12.5px;
  padding: 5%;
  background-color: black;
  color: white;
  justify-content: space-between;
}
.footer .phone,
.footer .email {
  display: flex;
  gap: 10px;
}
.footer h6:hover {
  cursor: default;
}
.footer .footer-content-info {
  margin-top: 30px;
}
.footer .footer-content-info p {
  color: #a7adaf;
}
.footer .footer-content-info p:hover {
  cursor: pointer;
}
.footer .footer-content-info form {
  display: inline-flex;
  font-size: 10px;
}
.footer .footer-content-info form input {
  width: 300px;
  max-width: 300px;
  padding: 7px 10px;
  background: transparent;
  border: 0.5px solid white;
  outline: none;
  color: white;
}
.footer .footer-content-info form button {
  padding: 7px 25px;
  border: 0.5px solid white;
}
.footer .footer-content-info .social2 {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.footer .footer-content-info .social2 a {
  color: white;
}
.footer .footer-content-info .social2 a:hover {
  transition: transform 0.5s ease;
  transform: scale(1.5);
}
.footer .footer-content-info .copyright {
  display: flex;
  justify-content: right;
}
.footer .footer-content-info .copyright:hover {
  cursor: default;
}

/*# sourceMappingURL=index.css.map */
