/* @media screen and (min-width: (1200px, 768px, 480px)) {
  
} */

@media screen and (max-width: 1300px) {
    .treat-right {
        zoom: 0.8;
    }
}

@media screen and (max-width: 1200px) {
    #top-bar {
        display: none;
    }
    .side {
        display: flex;
        justify-content: left;
        padding: 20px 20px 0;

        gap: 10px;
        font-size: 18px;
        font-weight: bold;

        img {
            width: 40px;
        }
        p {
            margin: 0;
        }

        span {
            color: #5ba3bb;
        }
    }

    .treat {
        display: grid;
    }
}
@media (max-width: 768px) {
}
